extends ../layout

block content
  h1= title
  section
    h2 WereSquirrel Info
    for weresquirrel in weresquirrels
      h3= weresquirrel.name
      section
        for duel in weresquirrel.duels
          h4 Garlic Total
          p= duel.garlic
          h4 Meat Total
          p= duel.meat
  section
    h2 Unibear Info
    for unibear in unibears
      h4= unibear.name
  section
    a(href='/colonies') List of Colonies